Source: xivlauncher-core
Section: games
Priority: optional
Maintainer: Maia Everett <maia@everett.one>
Build-Depends: debhelper-compat (= 13), dotnet-sdk-6.0, dotnet-sdk-7.0, libglib2.0-dev, libsecret-1-dev

Package: xivlauncher-core
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, dotnet-runtime-6.0, libsdl2-2.0-0, aria2, xdg-utils, desktop-file-utils
Description: Unofficial launcher for Final Fantasy XIV
 XIVLauncher Core is a native Linux application for launching the massive
 multiplayer game Final Fantasy XIV. It is entirely self-contained, integrates
 with the native Linux version of Steam, and does not require a Wine
 installation to function.
